<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入css/js文件</title>
    <link rel="stylesheet" href="/static/css/common/common.css">
    <script type="text/javascript" src="/static/lib/jquery-1.9.0.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/sccl.css">
    <script src="/static/layui/layui.js"></script>
    <!-- 导入bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap-theme.css"  crossorigin="anonymous">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"  crossorigin="anonymous"></script>

</head>
<body>

</body>
</html>