<% layout("/common/layout.html"){%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <style type="text/css">
        .divPosition{
            padding-top:10px;
        }


    </style>
</head>
<body>
<form class="divPosition">
    <div class="am-form divgroup">
        <label>
            <select name="city" lay-verify="required">
                <option value="-1">请选择</option>
                <option value="0">用户名</option>
            </select>
        </label>
        <div>
            <input type="text" class="" placeholder="请输入查询条件">
        </div>
        <div>
            <button type="button" class="am-btn am-btn-secondary">查询</button>&nbsp;&nbsp;
            <button type="button" class="am-btn am-btn-secondary">添加</button>
        </div>
    </div>
</form>

    <div >
        <table class="am-table am-table-bordered am-table-striped am-table-hover">
            <thead>
                <th>用户名</th>
                <th>可用状态</th>
                <th>操作</th>
            </thead>
            <tbody>
            <%for(user in userList){%>
            <tr>
                <td>${user.username}</td>
                <td>${user.available}</td>
                <td><a>激活</a></td>
            </tr>
            <%}%>

            </tbody>

        </table>
        <div class="pagin">
            ${page.pageStr}
        </div>
    </div>
</body>
</html>
<%}%>
