<% include("/common/layout.html"){} %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <style type="text/css">
        .divPosition{
            padding-top:10px;
        }

    </style>
</head>
<body>
    <div class="divPosition">
        <table class="table table-bordered table-hover">
            <thead>
                <th>用户名</th>
                <th>可用状态</th>
                <th>操作</th>
            </thead>
            <tbody>
            <%for(user in userList){%>
            <tr>
                <td>${user.username}</td>
                <td>${user.available}</td>
                <td><a>激活</a></td>
            </tr>
            <%}%>

            </tbody>

        </table>
        <div class="pagin">
            ${page.pageStr}
        </div>
    </div>
</body>
</html>
